@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/open-sans-v17-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("../fonts/open-sans-v17-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v17-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* comfortaa-regular - latin */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/comfortaa-v29-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/comfortaa-v29-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-regular - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/quicksand-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/quicksand-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* quicksand-500 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/quicksand-v20-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/quicksand-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@responsive {
  .bg-mobile {
    background-image: url("../svg/StageMobile.svg");
  }

  .bg-desktop {
    background-image: url("../svg/StageDesktop.svg");
  }

  .bg-tablet {
    background-image: url("../svg/StageTablet.svg");
  }

  .bg-sub {
    background-image: url("../svg/StageSub.svg");
  }
  .bg-invitation-stage {
    background-image: url("../images/mobile_breze.png");
  }

  .bg-beer {
    background-image: url("../images/beer.png");
  }

  .bg-wave {
    background-image: url("../images/wave.png");
  }
}

@keyframes tech {
  30% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-150%);
  }
}

.tech-animation > span {
  position: absolute;
  transform: translateY(150%);
  animation-name: tech;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0.45, 0, 0.93);
  position: absolute;
}

.tech-animation {
  overflow: hidden;
}

.tech-animation span:nth-child(2) {
  animation-delay: 10s;
}
.tech-animation span:nth-child(3) {
  animation-delay: 40s;
}
.tech-animation span:nth-child(4) {
  animation-delay: 70s;
}
.tech-animation span:nth-child(5) {
  animation-delay: 100s;
}
.tech-animation span:nth-child(6) {
  animation-delay: 130s;
}

.transform-abstract {
  transform: scale(1.2) translateY(-70px);
  overflow: hidden;
}
